# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [6]:
# Find the establishments with a hygiene score of 20
query = {"scores.Hygiene": 20}
results = list(establishments.find(query))

# Use count_documents to display the number of documents in the result
Hygiene_20_documents = establishments.count_documents(query)
print(f"Number of documents with hygiene score 20: {Hygiene_20_documents}")
# Display the first document in the results using pprint
pprint(results[0])

Number of documents with hygiene score 20: 41
{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('65b54a56e54e6b9121b51778'),
 'geocode': {'latitude': 50.769705, 'longitude': 0.27694},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [7]:
# Convert the result to a Pandas DataFrame
Hygiene_20_df = pd.DataFrame(results)
Hygiene_20_df = pd.json_normalize(results)
# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(Hygiene_20_df))
# Display the first 10 rows of the DataFrame
Hygiene_20_df.head(10)

Rows in DataFrame:  41

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,65b54a56e54e6b9121b51778,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,0.276940,50.769705,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,65b54a56e54e6b9121b51afa,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,1.278721,51.857536,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,65b54a56e54e6b9121b51e06,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,1.159270,51.789429,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,65b54a56e54e6b9121b51ff1,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,0.102020,50.770885,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,65b54a56e54e6b9121b52000,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,0.101446,50.770724,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,65b54a57e54e6b9121b529a3,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,0.736349,51.541448,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,65b54a57e54e6b9121b52bc4,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,0.712167,51.535007,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,65b54a57e54e6b9121b540ec,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,0.602364,51.591515,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,65b54a57e54e6b9121b5452a,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,0.146450,51.185947,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,65b54a57e54e6b9121b54d3e,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,0.462307,51.570050,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [8]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {'LocalAuthorityName': {'$regex': "London"},
        'RatingValue': {'$gte': 4}}
results = list(establishments.find(query))
# Use count_documents to display the number of documents in the result
London_4_documents = establishments.count_documents(query)
print(f"Number of documents with London as the Local Authority and a RatingValue greater than or equal to 4: {London_4_documents}")
# Display the first document in the results using pprint
pprint(results[0])

Number of documents with London as the Local Authority and a RatingValue greater than or equal to 4: 33
{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('65b54a57e54e6b9121b53193'),
 'geocode': {'latitude': 51.369321, 'longitude': 0.508551},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [9]:
# Convert the result to a Pandas DataFrame
London_4_df = pd.DataFrame(results)
London_4_df = pd.json_normalize(results)
# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(London_4_df))
# Display the first 10 rows of the DataFrame
London_4_df.head(10)

Rows in DataFrame:  33

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,65b54a57e54e6b9121b53193,621707,0,PI/000025307,Charlie's,Other catering premises,7841,Oak Apple Farm Building 103 Sheernes Docks,Sheppy Kent,,...,0.508551,51.369321,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,65b54a57e54e6b9121b534b9,1130836,0,PI/000034075,Mv City Cruises Erasmus,Other catering premises,7841,Cherry Garden Pier,Cherry Garden Street Rotherhithe,Charlton,...,0.249256,51.123623,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,65b54a57e54e6b9121b5400a,293783,0,PI/000002614,Benfleet Motor Yacht Club,Other catering premises,7841,Ferry Road,South Benfleet Essex,,...,0.561954,51.543831,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,65b54a57e54e6b9121b54e06,1315095,0,PI/000036464,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,1,Leslie Ford House,Tilbury,Charlton,...,0.346337,51.464066,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,65b54a57e54e6b9121b54e0a,294474,0,PI/000014647,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,1,Tenants Row Tilbury Docks,Tilbury Essex,,...,0.346325,51.464078,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,65b54a57e54e6b9121b55513,294900,0,PI/000019066,Mv Valulla,Other catering premises,7841,Reeds River Cruises LtdKings ReachRiver Thames...,London,,...,0.287555,51.504071,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,65b54a58e54e6b9121b57621,293756,0,PI/000002538,Tereza Joanne,Other catering premises,7841,Funcraft UK Ltd King George V Dock Woolwich Ma...,London,,...,0.069286,51.501121,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,65b54a58e54e6b9121b579e5,878523,0,PI/000029844,Brick Lane Brews,Restaurant/Cafe/Canteen,1,Air side London City Airport,London,,...,0.048006,51.503733,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,65b54a58e54e6b9121b57a01,293772,0,PI/000002585,The Nuance Group (UK) Limited,Retailers - other,4613,Duty Free Shop Passenger Terminal,London City AirportRoyal DocksLondon,,...,0.047966,51.504112,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,65b54a58e54e6b9121b57a02,294606,0,PI/000016185,WH Smith,Retailers - other,4613,London City Airport,Silvertown London,,...,0.047966,51.504112,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [14]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.49014200
longitude = 0.08384000

query = {'geocode.longitude': {'$gte': longitude - degree_search},
        'geocode.longitude': {'$lt': longitude + degree_search},
        'geocode.latitude': {'$gte': latitude - degree_search},
        'geocode.longitude': {'$lt': latitude + degree_search},
        'scores.Hygiene': {'$gte': 0},
        'RatingValue': 5}
sort =  [('scores.Hygiene', 1)]
limit = 5
results = list(establishments.find(query).sort(sort).limit(limit))
# Print the results
pprint(results)

[{'AddressLine1': 'Bath House Hotel',
  'AddressLine2': 'Princes Esplanade',
  'AddressLine3': 'Walton On The Naze',
  'AddressLine4': 'Essex',
  'BusinessName': 'POP N PERK',
  'BusinessType': 'Mobile caterer',
  'BusinessTypeID': 7846,
  'ChangesByServerID': 0,
  'Distance': 4617.847876072012,
  'FHRSID': 1148933,
  'LocalAuthorityBusinessID': '19/00077/FOOD',
  'LocalAuthorityCode': '120',
  'LocalAuthorityEmailAddress': 'fhsadmin@tendringdc.gov.uk',
  'LocalAuthorityName': 'Tendring',
  'LocalAuthorityWebSite': 'http://www.tendringdc.gov.uk/',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'CO14 8PZ',
  'RatingDate': '2019-05-28T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('65b54a56e54e6b9121b51aa3'),
  'geocode': {'latitude': 51.8520393371582, 'longitude': 1.27618598937988},
  'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/1148933',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 0}},
 {'AddressLine1': 'The Royal Albion',
  'AddressLine2': 'The Parade',
  'AddressLine3': 'Walton On The Naze',
  'AddressLine4': 'Essex',
  'BusinessName': 'Royal Albion',
  'BusinessType': 'Pub/bar/nightclub',
  'BusinessTypeID': 7843,
  'ChangesByServerID': 0,
  'Distance': 4617.847740736037,
  'FHRSID': 611631,
  'LocalAuthorityBusinessID': '10/00010/FOOD',
  'LocalAuthorityCode': '120',
  'LocalAuthorityEmailAddress': 'fhsadmin@tendringdc.gov.uk',
  'LocalAuthorityName': 'Tendring',
  'LocalAuthorityWebSite': 'http://www.tendringdc.gov.uk/',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'CO14 8AS',
  'RatingDate': '2019-02-19T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('65b54a56e54e6b9121b51aa4'),
  'geocode': {'latitude': 51.84913, 'longitude': 1.273099},
  'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/611631',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 0}},
 {'AddressLine1': 'Cliff Parade',
  'AddressLine2': 'Walton-on-the-Naze',
  'AddressLine3': 'Essex',
  'AddressLine4': '',
  'BusinessName': 'Anchor Lodge',
  'BusinessType': 'Caring Premises',
  'BusinessTypeID': 5,
  'ChangesByServerID': 0,
  'Distance': 4617.828603902194,
  'FHRSID': 612189,
  'LocalAuthorityBusinessID': '3254/HS',
  'LocalAuthorityCode': '120',
  'LocalAuthorityEmailAddress': 'fhsadmin@tendringdc.gov.uk',
  'LocalAuthorityName': 'Tendring',
  'LocalAuthorityWebSite': 'http://www.tendringdc.gov.uk/',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'CO14 8HB',
  'RatingDate': '2019-08-15T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('65b54a56e54e6b9121b51a99'),
  'geocode': {'latitude': 51.856908, 'longitude': 1.2819},
  'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/612189',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 0}},
 {'AddressLine1': 'Eastcliffe Kiosk',
  'AddressLine2': 'East Terrace',
  'AddressLine3': 'Walton On The Naze',
  'AddressLine4': 'Essex',
  'BusinessName': 'The Last Fisherman Cafe',
  'BusinessType': 'Restaurant/Cafe/Canteen',
  'BusinessTypeID': 1,
  'ChangesByServerID': 0,
  'Distance': 4617.822272288044,
  'FHRSID': 908226,
  'LocalAuthorityBusinessID': '16/00139/FOOD',
  'LocalAuthorityCode': '120',
  'LocalAuthorityEmailAddress': 'fhsadmin@tendringdc.gov.uk',
  'LocalAuthorityName': 'Tendring',
  'LocalAuthorityWebSite': 'http://www.tendringdc.gov.uk/',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'CO14 8PX',
  'RatingDate': '2018-05-17T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('65b54a56e54e6b9121b51a94'),
  'geocode': {'latitude': 51.853985, 'longitude': 1.278971},
  'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/908226',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 0}},
 {'AddressLine1': 'The Shop',
  'AddressLine2': 'Princes Esplanade',
  'AddressLine3': 'Walton On The Naze',
  'AddressLine4': 'Essex',
  'BusinessName': 'Foray Enterprises',
  'BusinessType': 'Takeaway/sandwich shop',
  'BusinessTypeID': 7844,
  'ChangesByServerID': 0,
  'Distance': 4617.847876072012,
  'FHRSID': 1148945,
  'LocalAuthorityBusinessID': '19/00096/FOOD',
  'LocalAuthorityCode': '120',
  'LocalAuthorityEmailAddress': 'fhsadmin@tendringdc.gov.uk',
  'LocalAuthorityName': 'Tendring',
  'LocalAuthorityWebSite': 'http://www.tendringdc.gov.uk/',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'CO14 8PZ',
  'RatingDate': '2019-06-24T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('65b54a56e54e6b9121b51aa0'),
  'geocode': {'latitude': 51.8520393371582, 'longitude': 1.27618598937988},
  'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/1148945',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 0}}]

In [11]:
# Convert result to Pandas DataFrame
Rating_5_df = pd.DataFrame(results)
Rating_5_df = pd.json_normalize(results)
Rating_5_df.head()

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,65b54a56e54e6b9121b51aa3,1148933,0,19/00077/FOOD,POP N PERK,Mobile caterer,7846,Bath House Hotel,Princes Esplanade,Walton On The Naze,...,1.276186,51.852039,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,65b54a56e54e6b9121b51aa4,611631,0,10/00010/FOOD,Royal Albion,Pub/bar/nightclub,7843,The Royal Albion,The Parade,Walton On The Naze,...,1.273099,51.849130,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,65b54a56e54e6b9121b51a99,612189,0,3254/HS,Anchor Lodge,Caring Premises,5,Cliff Parade,Walton-on-the-Naze,Essex,...,1.281900,51.856908,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,65b54a56e54e6b9121b51a94,908226,0,16/00139/FOOD,The Last Fisherman Cafe,Restaurant/Cafe/Canteen,1,Eastcliffe Kiosk,East Terrace,Walton On The Naze,...,1.278971,51.853985,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,65b54a56e54e6b9121b51aa0,1148945,0,19/00096/FOOD,Foray Enterprises,Takeaway/sandwich shop,7844,The Shop,Princes Esplanade,Walton On The Naze,...,1.276186,51.852039,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [12]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
match_query = {'$match': 
               {'scores.Hygiene': 0
                }
              }

group_query = {'$group': 
               {'_id': "$LocalAuthorityName", 
                'count': { '$sum': 1 },
               }
              }

sort_values = {'$sort': { 'count': -1 }}

pipeline = [match_query, group_query, sort_values]
results = list(establishments.aggregate(pipeline))
# Print the number of documents in the result
print("Number of documents in result: ", len(results))
# Print the first 10 results
pprint(results[0:10])

Number of documents in result:  55
[{'_id': 'Thanet', 'count': 1130},
 {'_id': 'Greenwich', 'count': 882},
 {'_id': 'Maidstone', 'count': 713},
 {'_id': 'Newham', 'count': 711},
 {'_id': 'Swale', 'count': 686},
 {'_id': 'Chelmsford', 'count': 680},
 {'_id': 'Medway', 'count': 672},
 {'_id': 'Bexley', 'count': 607},
 {'_id': 'Southend-On-Sea', 'count': 586},
 {'_id': 'Tendring', 'count': 542}]

In [13]:
# Convert the result to a Pandas DataFrame
Hygiene_0_df = pd.DataFrame(results)
# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(Hygiene_0_df))
# Display the first 10 rows of the DataFrame
Hygiene_0_df.head(10)

Rows in DataFrame:  55

               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542